<nb-card-body>
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <label>Order Id</label>
            <input type="text" name="orderId" class="form-control" placeholder="Order Id" nbInput readonly
                [(ngModel)]="order.orderId">
        </div>
        <div class="col-xs-6 col-md-6">
            <label>Staff Id</label>
            <input type="text" name="orderId" class="form-control" placeholder="Staff Id" nbInput readonly
                [(ngModel)]="order.staffId">
        </div>
        <div class="col-xs-6 col-md-6">
            <label>Customer Id</label>
            <input type="text" name="customerId" class="form-control" placeholder="Customer Id" nbInput readonly
                [(ngModel)]="order.customerId">
        </div>
        <div class="col-xs-6 col-md-6">
            <label>Order Status</label>
            <input type="text" name="status" class="form-control" placeholder="Status" nbInput readonly
                [(ngModel)]="order.status">
        </div>
    </div>
</nb-card-body>
<nb-card-footer>
    <button nbButton outline status="success" (click)="update()">Update</button>
    <button nbButton outline status="danger" (click)="delete()">Delete</button>
    <button nbButton outline status="warning" (click)="back()">Back</button>
</nb-card-footer>