<div class="row">
    <div class="col-xs-6 col-md-6">
        <label>Staff Id</label>
        <input type="text" name="staffId" class="form-control" placeholder="Staff Id" nbInput readonly
            [(ngModel)]="staff.staffId">
    </div>
    <div class="col-xs-6 col-md-6">
        <label>Staff Remark</label>
        <input type="text" name="remark" class="form-control" placeholder="Remark" nbInput readonly
            [(ngModel)]="staff.remark">
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6">
        <label>Staff Status</label>
        <input type="text" name="status" class="form-control" placeholder="Status" nbInput readonly
            [(ngModel)]="staff.status">
    </div>
</div>