<div class="row">
    <div class="col-xs-6 col-md-6">
        <label>Store Id</label>
        <input type="text" name="storeId" class="form-control" placeholder="Store Id" nbInput readonly
            [(ngModel)]="store.storeId">
    </div>
    <div class="col-xs-6 col-md-6">
        <label>Store Name</label>
        <input type="text" name="storeName" class="form-control" placeholder="Store Name" nbInput readonly
            [(ngModel)]="store.storeName">
    </div>
    <div class="col-xs-6 col-md-6">
        <label>Store Status</label>
        <input type="text" name="status" class="form-control" placeholder="Status" nbInput readonly
            [(ngModel)]="store.status">
    </div>
</div>