<nb-card-body>
<div class="row">
    <div class="col-xs-6 col-md-6">
        <label>Store Id</label>
        <input type="text" name="storeId" class="form-control" placeholder="Store Id" nbInput readonly
            [(ngModel)]="store.storeId">
    </div>
    <div class="col-xs-6 col-md-6">
        <label>Store Name</label>
        <input type="text" name="storeName" class="form-control" placeholder="Store Name" nbInput readonly
            [(ngModel)]="store.storeName">
    </div>
    <div class="col-xs-6 col-md-6">
        <label>Store Status</label>
        <input type="text" name="status" class="form-control" placeholder="Status" nbInput readonly
            [(ngModel)]="store.status">
    </div>
</div>
</nb-card-body>
<nb-card-footer>
    <button nbButton outline status="success" (click)="update()">Update</button>
    <button nbButton outline status="danger" (click)="delete()">Delete</button>
    <button nbButton outline status="warning" (click)="back()">Back</button>
</nb-card-footer>