<nb-card>
  <nb-card-header>
    <label>Add Staff</label>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="addStaffForm" method="POST">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <input type="hidden" formControlName="staffId" class="form-control" name="staffId">
          <input type="hidden" formControlName="createdBy" class="form-control" name="createdBy">
          <input type="hidden" formControlName="lastUpdatedBy" class="form-control" name="lastUpdatedBy">
        </div>
        <div class="col-xs-6 col-md-6">
          <label>Staff Email</label>
          <input type="text" name="email" formControlName="email" class="form-control" placeholder="Email">
        </div>
        <div class="col-xs-6 col-md-6">
          <label>Staff Password</label>
          <input type="text" name="password" formControlName="password" class="form-control" placeholder="Email">
        </div>
        <div class="col-xs-6 col-md-6">
          <label>Staff Remark</label>
          <input type="text" name="remark" formControlName="remark" class="form-control" placeholder="remark">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <label>Staff Status</label>
          <nb-select placeholder="Status" formControlName="status" name="status" fullWidth>
            <nb-option value="On">On</nb-option>
            <nb-option value="Off">Off</nb-option>
          </nb-select>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton outline status="success" (click)="submit(addStaffForm.value)">Save</button>
    <button nbButton outline status="danger" (click)="close()">Close</button>
  </nb-card-footer>
</nb-card>