<nb-card>
  <nb-card-header>
    <div class="title">
      <label>Add Category</label>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="addCategoryForm" method="POST">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <input type="hidden" formControlName="categoryId" class="form-control" name="categoryId">
          <input type="hidden" formControlName="createdBy" class="form-control" name="createdBy">
          <input type="hidden" formControlName="lastUpdatedBy" class="form-control" name="lastUpdatedBy">
        </div>
        <div class="col-xs-6 col-md-6">
          <label>Category Name</label>
          <input type="text" name="categoryName" formControlName="categoryName" class="form-control"
            placeholder="categoryName">
        </div>
        <div class="col-xs-6 col-md-6">
          <label>Category Remark</label>
          <input type="text" name="note" formControlName="remark" class="form-control" placeholder="remark">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <label>Category Status</label>
          <nb-select placeholder="Status" formControlName="status" name="status" fullWidth>
            <nb-option value="On">On</nb-option>
            <nb-option value="Off">Off</nb-option>
          </nb-select>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="danger" (click)="close()">Close</button>
    <button nbButton status="success" (click)="submit(addCategoryForm.value)">Save</button>
  </nb-card-footer>
</nb-card>