<nb-card>
  <nb-card-header>
    <label>Add Order</label>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="addOrderForm" method="POST">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <input type="hidden" formControlName="orderId" class="form-control" name="orderId">
          <input type="hidden" formControlName="createdBy" class="form-control" name="createdBy">
          <input type="hidden" formControlName="lastUpdatedBy" class="form-control" name="lastUpdatedBy">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <label>Order Status</label>
          <nb-select placeholder="Status" formControlName="status" name="status" fullWidth>
            <nb-option value="On">On</nb-option>
            <nb-option value="Off">Off</nb-option>
          </nb-select>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton outline status="success" (click)="submit(addOrderForm.value)">Save</button>
    <button nbButton outline status="danger" (click)="close()">Close</button>
  </nb-card-footer>
</nb-card>