<div class="row">
    <div class="col-xs-6 col-md-6">
        <label>Category Id</label>
        <input type="text" name="categoryId" class="form-control" placeholder="Category Id" nbInput readonly
            [(ngModel)]="category.categoryId">
    </div>
    <div class="col-xs-6 col-md-6">
        <label>Category Name</label>
        <input type="text" name="categoryName" class="form-control" placeholder="Category Name" nbInput readonly
            [(ngModel)]="category.categoryName">
    </div>
    <div class="col-xs-6 col-md-6">
        <label>Category Remark</label>
        <input type="text" name="remark" class="form-control" placeholder="Remark" nbInput readonly
            [(ngModel)]="category.remark">
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6">
        <label>Category Status</label>
        <input type="text" name="status" class="form-control" placeholder="Status" nbInput readonly
            [(ngModel)]="category.status">
    </div>
</div>