<nb-card>
    <nb-card-header>
        <div class="title">
            <label>Customer Detail</label>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ngx-customers-preview [customer]="customer$ | async"></ngx-customers-preview>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton outline status="success" (click)="update()">Update</button>
        <button nbButton outline status="danger" (click)="delete()">Delete</button>
        <button nbButton outline status="warning" (click)="back()">Back</button>
    </nb-card-footer>
</nb-card>