<div class="row">
    <div class="col-xs-6 col-md-6">
        <label>Customer Id</label>
        <input type="text" name="customerId" class="form-control" placeholder="Customer Id" nbInput readonly
            [(ngModel)]="customer.customerId">
    </div>
    <!-- <div class="col-xs-6 col-md-6">
        <label>Category Name</label>
        <input type="text" name="categoryName" class="form-control" placeholder="Category Name" nbInput readonly
            [(ngModel)]="category.categoryName">
    </div> -->
    <div class="col-xs-6 col-md-6">
        <label>Customer Remark</label>
        <input type="text" name="remark" class="form-control" placeholder="Remark" nbInput readonly
            [(ngModel)]="customer.remark">
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6">
        <label>Customer Status</label>
        <input type="text" name="status" class="form-control" placeholder="Status" nbInput readonly
            [(ngModel)]="customer.status">
    </div>
</div>